html {
  box-sizing: border-box;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.wrapper {
  background-color: #79756f;
  border-top: .125rem solid #595652;
  border-bottom: .125rem solid #595652;
  padding-bottom: .75em;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 1rem;
  padding: .6em;
  background-color: #713837;
  border-radius: .12rem;
}

a:hover {
  background-color: #f33;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}
