html {
  box-sizing: border-box;
  display: inline-block;
  background-color: #dbd6cf;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  list-style-type: none;
  text-decoration: none;
  background-color: #dbd6cf;
  margin: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  margin: 0;
}

.header nav {
  font-size: .5em;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

.header {
  border-style: solid;
  border-color: #595652;
  background-color: #79756f;
  outline-offset: 2px;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.header li {
  display: inline-block;
}

.header a {
  margin-bottom: .3em;
  display: inline-block;
  list-style-type: none;
  padding: .5em;
  border-radius: 10px;
  background-color: #713837;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.12rem;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  padding: .6em .75em;
  background-color: #f33;
  color: #fff;
}
